[submodule "tutorials/nodejs-mongodb-hapi-graphql-swagger-api"]
	path = tutorials/nodejs-mongodb-hapi-graphql-swagger-api
	url = git@github.com:laseryuan/tutorial-hub
	branch = nodejs-mongodb-hapi-graphql-swagger-api
[submodule "tutorials/vuejs-firebase-auth"]
	path = tutorials/vuejs-firebase-auth
	url = git@github.com:laseryuan/tutorial-hub
	branch = vuejs-firebase-auth
[submodule "tutorials/truffle-ganache"]
	path = tutorials/truffle-ganache
	url = git@github.com:laseryuan/tutorial-hub
	branch = truffle-ganache
