[submodule "tutorials/nodejs-mongodb-hapi-graphql-swagger-api"]
	path = tutorials/nodejs-mongodb-hapi-graphql-swagger-api
	url = git@github.com:laseryuan/tutorial-hub
	branch = nodejs-mongodb-hapi-graphql-swagger-api
[submodule "tutorials/vuejs-firebase-auth"]
	path = tutorials/vuejs-firebase-auth
	url = git@github.com:laseryuan/tutorial-hub
	branch = vuejs-firebase-auth
[submodule "tutorials/truffle-ganache"]
	path = tutorials/truffle-ganache
	url = git@github.com:laseryuan/tutorial-hub
	branch = truffle-ganache
[submodule "tutorials/jest-api-mock"]
	path = tutorials/jest-api-mock
	url = git@github.com:laseryuan/tutorial-hub
	branch = jest-api-mock
[submodule "tutorials/npm-typescript-tslint-prettier-jest"]
	path = tutorials/npm-typescript-tslint-prettier-jest
	url = git@github.com:laseryuan/tutorial-hub
	branch = npm-typescript-tslint-prettier-jest
