alembic==1.8.1
anyascii==0.3.1
appdirs==1.4.4
apsw==3.40.0.0
astroid==2.12.13
asttokens==2.2.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
boto3==1.26.20
botocore==1.29.20
build==0.9.0
cachetools==5.2.0
certifi==2022.9.24
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
codespell==2.2.2
coverage==6.5.0
decorator==5.1.1
dill==0.3.6
distlib==0.3.6
exceptiongroup==1.0.4
executing==1.2.0
filedepot==0.8.0
filelock==3.8.0
Flask==2.2.2
Flask-Migrate==4.0.0
Flask-SQLAlchemy==2.5.1
freezegun==1.2.2
google-auth==2.14.1
greenlet==2.0.1
gunicorn==20.1.0
html5lib==1.1
identify==2.5.9
idna==3.4
iniconfig==1.1.1
ipdb==0.13.9
ipython==8.7.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpath-python==1.0.6
lazy-object-proxy==1.8.0
Mako==1.2.4
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-jsonapi==0.24.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.5
packaging==21.3
pandas==1.5.2
parso==0.8.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip-tools==6.11.0
platformdirs==2.5.4
pluggy==1.0.0
pre-commit==2.20.0
prompt-toolkit==3.0.33
psutil==5.9.4
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyfakefs==5.0.0
Pygments==2.13.0
pylint==2.15.7
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
pytest-integration==0.2.2
pytest-mock==3.10.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
requests==2.28.1
requests-cache==0.7.1
requests-mock==1.10.0
rsa==4.9
s3transfer==0.6.0
shillelagh==1.1.3
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.44
stack-data==0.6.2
tabulate==0.8.9
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
traitlets==5.6.0
typing_extensions==4.4.0
url-normalize==1.4.3
urllib3==1.26.13
virtualenv==20.17.0
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
