TESTING = True

SQLALCHEMY_DATABASE_URI = 'gsheets://'
SQLALCHEMY_ENGINE_OPTIONS = {
    "catalog" : {
        "users": 'https://docs.google.com/spreadsheets/d/10yf6SsnDcEcssTiL6LxuX1qpQbACZILUBe1rMo-aUq0/edit#gid=971141618',
    },
    "echo" : True,
    "service_account_file" : 'tmp/service_account.json',
}
SQLALCHEMY_TRACK_MODIFICATIONS = False

GOOGLE_CLOUD_STORAGE_ACCESS_KEY = 'my-storage-access-key'
GOOGLE_CLOUD_STORAGE_SECRET_KEY = 'my-storage-secret-key'
GOOGLE_CLOUD_STORAGE_BUCKET = 'my-bucket-name'
